html {
  background-color: #ffffff; 
  font-family: sans-serif;
}

h1 {
  color: white;
  font-size: 2.0rem;
  text-align: center;
  margin-top: 50%;
}

h2 {
  color: black;
  font-size: 1.6em; 
}

p {
  color: black;
  font-size: 1.6em;
}

.circle {
  float: left;
  margin-top: 400px;
  margin-left: 400px;
  height: 180px;
  width: 180px;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  background-color: black;
  border: 10px solid purple;
}   



.desc {
  margin-top: 100px;
  border: 5px solid black;
  height: 150px;
  width: 150px;
}


.main {
  border: 5px solid black;
}
