html {
  background: url(view.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
    color: darkorange;
    text-align: center;
    font-style: italic;
    font-size: 300%;
    
}


span + span {
    margin-left: 10px;
    margin-right: 10px;
}

