html {
  background-color: rgb(43, 42, 40);
}

p {
  color: black;
  font-size: 1.0em;
}

section {
  padding: 54vh 0;
}

.one {
  padding-top: 10px;
  background: rgb(43, 42, 40);
  position: relative;
  z-index: 10;
}

.two {
  background: rgb(43, 42, 40);
  padding-bottom: 40px;

}

img {
  border: 1px solid white;
  border-radius: 30%;
}

ul.a {
  list-style-type: circle;
}

*{
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  box-sizing: border-box;
}

.img-section {
  position: absolute;
  margin-left: 0px auto;
  width: 400px;
  height: 200px; 
  left: 40%;
}

.about-section {
  background: rgb(43, 42, 40);
  text-align: center;
  height: 300px;
  width: 500px;
  margin-top: -25%;
  margin-left: 38%;
 
}

.services-section{
  background-size: cover;
  padding: 60px 0;
  background: rgb(43, 42, 40);
}
.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}
.section-title{
  text-align: center;
  color: rgb(252, 207, 14);
  text-transform: uppercase;
  font-size: 30px;
}
.border{
  width: 160px;
  height: 2px;
  background: rgb(252, 207, 14);
  margin: 40px auto;
}
.services-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-box{
  max-width: 33.33%;
  padding: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.service-icon{
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid rgb(252, 207, 14);
  color: rgb(252, 207, 14);
  background-color: transparent;
  transform: rotate(45deg);
  margin-bottom: 30px;
  margin-top: 16px;
  transition: 0.3s linear;
}
.service-icon i{
  line-height: 70px;
  transform: rotate(-45deg);
  font-size: 26px;
}
.service-box:hover .service-icon{
  background: rgb(43, 42, 40);
  color: black;
}
.service-title{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.service-desc{
  font-size: 14px;
}

@media screen and (max-width:960px) {
  .service-box{
    max-width: 45%;
  }
}

@media screen and (max-width:768px) {
  .service-box{
    max-width: 50%;
  }
}

@media screen and (max-width:480px) {
  .service-box{
    max-width: 100%;
  }
}
