<!DOCTYPE html>
<html lang="en" dir="ltr" style="background-color:hsl(189, 10%, 16%)">
  <head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='bootstrap/bootstrap.css') }}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/bart.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  </head>
  <body style='background-color: hsl(189, 10%, 16%);'>
    {% block navbar %}
    <nav class="navbar navbar-expand-sm" style="background-color: transparent; 
    color: pink; width: 400px; border:2px solid white; border-radius: 30px; margin-left: 20px; 
    margin-top: 10px; font-size:0.8em;">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav list-item", style='list-style-type: none;'>
          <li class="nav-item active list-item">
            <a style="text-align: center; color:white;font-weight: bold;" class="nav-link" href="{{ url_for( 'index') }}">Home Page <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <div class="pito">
              <a style="color:white;font-weight: bold" class="nav-link" href="{{ url_for( 'about', name='pito' ) }}">About Pito</a>
            </div>
          </li>
          <li class="nav-item">
            <a style="color: white;font-weight: bold" class="nav-link" href="{{ url_for( 'about', name='bart' ) }}">About Bart</a>
          </li>
          <li class="nav-item">
              <a style="color: white;font-weight: bold" class="nav-link" href="{{ url_for( 'projectsPage') }}">Projects Page</a>
          </li>
          <li class="nav-item">
            <a style="color: white;font-weight: bold" class="nav-link" href="{{ url_for( 'learningPage') }}">Learning Page</a>
          </li>
        </ul>
      </div>
    </nav>
    {% endblock %}
    <section class='one'>
    <div class="services-section">
      <div class="inner-width">
        <h1 class="section-title">I am interested in</h1>
        <div class="border"></div>
        <div class="services-container">

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-robot"></i>
            </div>
            <div class="service-title">AI / ML</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-edit"></i>
            </div>
            <div class="service-title">NLP</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-cogs"></i>
            </div>
            <div class="service-title">RL</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fab fa-python"></i>
            </div>
            <div class="service-title">Python</div>
            <div class="service-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='img-section'>
      <img src='../static/views/user.jpg', style='width:100%; margin-left: -5%;'>
    </div>
    </section>
    <section class='two'>
      <div class='about-section' >
         <br/><br/><img src='../static/views/aboutme.png', style='width:100%; margin-left:-10%; border-radius: 2px;'>
      </div>
    </section>
  </body>
</html>
