html {
	background-color: #ffffff;
}
body {
	font-family: monospace;
	text-align: center;
	color: black;
}
h2 {
	font-size: 3.0em;
}
p {
	font-size: 1.3em;
}
.ml-container {
	align-items: center;
	justify-content: center;
	margin: 0;
}
.topic {
	font-size: 1.2em;
	font-weight: bold;
	font-style: italic;
}
.button {
	padding: 1px 6px;
}
.button {
	cursor: default;
	box-sizing: border-box;
}
.button {
	text-rendering: auto;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0;
	text-shadow: none;
	display: inline-block;
	margin: 0em;
	font: 200 7.5px Arial;
}
.button .predict-button {
	width: 120px;
	height: 25px;
	border-radius: 8px;
	background-color: #7052CB;
	color: #ffffff;
	font-size: 15px;
}
.text {
	height: 20px;
	width: 140px;
	border-radius: 5px;
	color: black;
	font: 600 9px Arial;
}
.inner {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	margin-top: 5%;
}
.image {
	height: 205px;
	width: 255px;
	background-color: #ffffff;
	background-image: url("../views/newspaper.jpeg");
	position: absolute;
	bottom: 20%;
	left: 58%;
	border-radius: 30px;
	border-color: snow;
}
