html {
  background-color: #ffffff; 
  font-family: sans-serif;
}

h1 {
  color: white;
  font-size: 2.0rem;
  text-align: center;
  margin-top: 50%;
}

h2 {
  color: hsla(248, 72%, 69%, 1); 
  font-size: 2.6em; 
  text-align: center;
  margin-top: -40px;
}

p {
  color: black;
  font-size: 1.6em;
}

.circle {
  float: left;
  margin-top: 100px;
  margin-left: 400px;
  height: 180px;
  width: 180px;
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  background-color: black;
  border: 10px solid hsla(248, 72%, 69%, 1);
}   

.main {
  margin-top: 45px;
  margin-left: 250px;
  font-size: 1.2em;
  width: 400px;
  height: 100px;
  float: left;
  text-align: center;
}




