<!DOCTYPE html>
<html>
  <head>
    <title>Bart</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='about.css') }}">
  </head>
  <body>
    <div>      
      <div class='circle'><h1>AI / ML</h1></div>
      <div class='circle'><h1>NLP</h1></div>
      <div class='circle'><h1>Python</h1></div>

    </div>
    <div>
      <div class='main'>
        <h2 style='margin-left:95px;'><u>Fast</u></h2>
        <p style='margin-left: 95px;'>Fast load times and lag free interaction, 
        my highest priority.</p>
      </div>

      <div class='main'>
        <h2><u>Intuitive</u></h2>
        <p>Strong preference for easy to use, intuitive UX/UI.</p>
      </div>

      <div class='main'>
        <h2 style='margin-left:-98px;'><u>Responsive</u></h2>
        <p style='margin-left:-98px;'>My layouts will work on any device, big or small.</p>
      </div>
    </div>

  </body>
</html>
