<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link href="{{ url_for('static', filename='CSS/SentimentResults.css') }}" rel="stylesheet" type="text/css">
    <style>
        p {
            margin-top: 5px;
            margin-bottom: 3px;
            margin-right: 3px;
            font-size: 1.6em;
            border: solid white 2px;
            border-radius: 6px;
            line-height: -20px;
        }
        
        h2 {
            margin-top: 3px;
            margin-bottom: 5px;
            font-size: 1.6em;
            border: solid white 2px;
            border-radius: 6px;
            line-height: -20px;
        }
    </style>
</head>
<body style="background-color: #1e1e1e">
	<form action="{{ url_for('emotion') }}">
		<input id='btnBack' type='submit' value='BACK' style="margin-bottom:8%;">
	</form>
    <div class="results" style='margin-top: 10px;'>
        {% if prediction is number %}
            {% if prediction == 2 %}
            <p style='color:white; background-color:green; display: inline; font-size: 2.2em;'><b>&nbsp{{sentences}}&nbsp</b></p>
            <h2 style="color:white; background-color:green; display: inline; font-size: 2.2em;">POSITIVE</h2>
            {% elif prediction == 1 %}
            <p style='color:white; background-color:blue; display: inline; font-size: 2.2em;'><b>&nbsp{{sentences}}&nbsp</b></p>
            <h2 style="color:white; background-color:blue; display: inline; font-size: 2.2em;">NEUTRAL</h2>
            {% elif prediction == 0 %}
            <p style='color:white; background-color:red; display: inline; font-size: 2.2em;'><b>&nbsp{{sentences}}&nbsp</b></p>
            <h2 style="color:white; background-color:red; display: inline; font-size: 2.2em;">NEGATIVE</h2>
            {% else %}
            <h2 style="color:white; background-color:black; display: inline; font-size: 2.2em;">NO value</h2><
            {% endif %}
        {% elif prediction|length > 1 %}
            <table style="display: inline-block; margin-top: 10px;">
                {% for key, value in results.items() %}
                <tr>
                        {% if value == [2] %}
                        <th><p style="color:white; background-color:green;"><b>&nbsp{{key}}&nbsp</b></p></th>
                        <td><h2 style="color:white; background-color:green;">POSITIVE</h2></td>
                        {% elif value == [1] %}
                        <th><p style="color:white; background-color:blue;"><b>&nbsp{{key}}&nbsp</b></p></th>
                        <td><h2 style="color:white; background-color:blue;">NEUTRAL</h2></td>
                        {% elif value == [0] %}
                        <th><p style="color:white; background-color:red;"><b>&nbsp{{key}}&nbsp</b></p></th>
                        <td><h2 style="color:white; background-color:red;">NEGATIVE</h2></td>
                        {% else %}
                        <td><h2 style="color:white; background-color:black;">NO value</h2></td>
                        {% endif %}   
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <h2 class="result" style="color:white; background-color:blue;">No input sentences entered</h2>
    {% endif %}
	</div>
</body>
</html>