<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/CSS/landingPage.css">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet"> 
  <title>Home</title>
</head>
<body>
  <div class='wrapper'>
    <input type='button' value='Bart' onclick="window.location.href='{{ url_for("about", name="bart") }}'">
    <input type='button'  value='Pito' onclick="window.location.href='{{ url_for("about", name="pito") }}'">
    <input type='button'  value='Projects' onclick="window.location.href='{{ url_for("projectsPage") }}'">
    <input type='button'  value='Learning' onclick="window.location.href='{{ url_for("learningPage") }}'">
  </div>
  
</body>
</html>