<!DOCTYPE html>
<html>
  <head>
    <title>About {{ name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mainpage.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="one">
      <button  type="button" class='btn' 
        onclick="window.location.href='{{ url_for( "about", name="pito" ) }}'">Pito</button>
      <button type="button" class='btn'
            onclick="window.location.href='{{ url_for( "about", name="bart" ) }}'">Bart</button>
    </section>
  </body>
</html>


  