<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pito.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  </head>
  <body>
    <section class='one'>
    <div class="services-section">
      <div class="inner-width">
        <h1 class="section-title">I am interested in</h1>
        <div class="border"></div>
        <div class="services-container">

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-robot"></i>
            </div>
            <div class="service-title">AI / ML</div>
            <div class="service-desc">
              hello ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro,
              hil.
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-edit"></i>
            </div>
            <div class="service-title">NLP</div>
            <div class="service-desc">
              hello ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro,
              nhil.
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fab fa-python"></i>
            </div>
            <div class="service-title">Python</div>
            <div class="service-desc">
              hello ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, 
              hil.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='img-section'>
      <img src='../static/pito.jpg', style='width:100%;'>
    </div>
    </section>
    <section class='two'>
      <div class='about-section' >
         <img src='../static/aboutme.png', style='width:100%;  border-radius: 2px;'>
      </div>
    </section>
  </body>
</html>

