<!DOCTYPE html>
<html style="margin: 0; padding:0">
<head>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="{{ url_for('static', filename='CSS/projectsPage.css') }}" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title></title>
	<style>
		a {
			width: 100%;
			display: inline-block;
		}
	</style>
</head>
<body>
		<div class="menu-wrap">
			<input class="toggler" type="checkbox">
			<div class="hamburger">
				<div></div>
			</div>
			<div class="menu">
				<div>
					<div>
						<ul>
							<li><a href="{{ url_for( 'index' ) }}">Home</a></li>
							<li><a href="{{ url_for( 'about', name='pito' ) }}">About Pito</a></li>
							<li><a href="{{ url_for( 'about', name='bart' ) }}">About Bart</a></li>
							<li><a href="{{ url_for( 'learningPage' ) }}">Learning</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<header class="showcase">
			<div class="container showcase-inner">
				<h1>Our Projects</h1>
				<ul>
                    <a href="{{ url_for( 'sentiment' ) }}" class="btn">Sentiment Analysis</a>
                    <a href="{{ url_for( 'chatbot' ) }}" class="btn">Chatbot</a>
				</ul>
			</div>
		</header>
	</body>
</html>