<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="{{ url_for('static', filename='CSS/SentimentResults.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="results">
		<h3><u>Topic Title:</u></h3>{% if prediction == 1%}
		<p class='topic' style='color:white; background-color:green;'><b>&nbsp{{text}}&nbsp</b></p>
		<p class="image-smile"></p>{% elif prediction == 0%}
		<p class="topic" style="color:white; background-color:red;"><b>&nbsp{{text}}&nbsp</b></p>
		<p class="image-angry"></p>{% endif %}
		<h3 style="color:black;text-align:center;"><u>Result:</u></h3>{% if prediction == 1%}
		<h2 class="result" style="color:white; background-color:green;">POSITIVE</h2>{% elif prediction == 0%}
		<h2 class="result" style="color:white; background-color:red;">NEGATIVE</h2>{% endif %}
	</div>
</body>
</html>